.AddProfile{
    margin: 0 auto;
    width: 746px;
}
.AddProfile .carousel-container {
    position: relative;
    width: 42%;
    max-width: 1000px;
    margin: 0 auto;
    overflow: hidden; 
}
.AddProfile h1{
    text-align: center;
    margin:3% 0%;
}
.AddProfile .image-selection {
    display: flex;
    transition: transform 0.3s ease-in-out;
}

.AddProfile .image-selection img {
    min-width: 100px;
    max-width: 100px;
    margin: 0 5px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.AddProfile .image-selection img:hover {
    transform: scale(1.1);
}

.AddProfile .carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    color: white;
    padding: 10px;
    cursor: pointer;
    z-index: 1;
}

.AddProfile .carousel-button.prev {
    left: 0;
}

.AddProfile .carousel-button.next {
    right: 0%;
}
.AddProfile form{
    margin: 3% auto;
    width:236px; 
}
.AddProfile input{
    outline: none;
    border: 1px solid #6666;
    padding: 10px;
    border-radius: 3%;
    background: transparent;
    color: #fff;
}
.AddProfileSave{
    outline: none;
    border: 1px solid #6666;
    padding: 10px 19%;
    border-radius: 3%;
    background: transparent;
    color: #fff;
    margin: 3% 9%;
    cursor: pointer;
}
@media (max-width:750px){
    .AddProfile{
        max-width:500px;
    }
}
@media (max-width:500px){
    .AddProfile{
        max-width:300px;
    }
}