.header-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    max-width:95%;
}
.header-content h1 {
    font-size: 2.5rem;
    font-weight: 900;
    margin-bottom: 2%;
}
.header-content h3 {
    font-size: 1.5rem;
    margin-bottom: 2%;
    font-weight: 500;
}
.header-content p {
    font-size: 1.2rem;
    margin-bottom: 2%;
    font-weight: 400;
}
.header-content input {
    width: 50%;
    background-color: rgb(16, 16, 16);
    padding: 15px 5%;
    border: 1px solid #777;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1.2rem;
    color: #fff;
}
.header-content button {
    outline: none;
    border: none;
    background: #db0001;
    color: #fff;
    padding: 15px 70px;
    font-size: 18px;
    border-radius: 4px;
    margin-left: 10px;
    cursor: pointer;
}
.header-content button:hover {
    background: rgba(229, 9, 0, 0.6);
}
