@media screen and (min-width:960px){
    .banner{
        position :relative;
        height: 100vh;
        width: 100vw;
        overflow: hidden;
    }
    .LandingPage{
        overflow-x: auto;
    }
    .LandingPage::-webkit-scrollbar{
        display: none;
    }
    
    .banner .banner-img{
        width:100%;
        height: 100%;
        object-fit: cover;
        mask-image: linear-gradient(to right,transparent,black 75%);
        -weblit-mask-image:linear-gradient(to right,transparent,black 75%);
    }
    .banner-caption{
        position:absolute;
        width:100%;
        padding-left:6%;
        bottom:22%;
    }
    .caption-img {
        width:90%;
        max-width: 420px;
        margin-bottom: 2%;
    }
    .banner-caption p{
        font-size: 1.2rem;
        max-width: 700px;
        margin-bottom: 2%;
    }
    .banner-btn{
        display: flex;
        gap:10px;
    }
    .banner-btn .btn img{
        width:25px;
    }
    .banner-btn .btn {
        border: 0;
        outline: 0;
        padding:8px 20px;
        display: inline-flex;
        align-items: center;
        gap:10px;
        font-size: 15px;
        font-weight: 700;
        background:rgb(255, 255, 255);
        border-radius: 4px;
        cursor: pointer;
        width:18%;
        height:4%;
    }
    
    #dark{
        color: #fff;
        background-color: #6d6d6eb3;
    }
    .btn :hover{
        background-color:#6d6d6e66;
    }
    #dark:hover{
        background-color: #6d6d6e66;
    }
    .More{
        padding-left:6%;
    }
    .Sidebar{
        display: none;
    }
    .LandingPage .Footer1{
        max-width: 100%;
        margin:0 auto;
    }
    .LandingPage .Footer1 h1{
        font-size: 1.8em;
    }
    .LandingPage .Footer1 .footer-links{
        font-size: 1rem;
    }

}
@media screen and (max-width: 959.98px){
    .banner{
        position :relative;
        height: 60vh;
        width: 100vw;
        overflow: hidden;
    }
    .LandingPage{
        overflow-x: auto;
    }
    .LandingPage::-webkit-scrollbar{
        display: none;
    }
    
    .banner .banner-img{
        width:100%;
        height: 100%;
        object-fit: cover;
        mask-image: linear-gradient(to right,transparent,black 75%);
        -weblit-mask-image:linear-gradient(to right,transparent,black 75%);
    }
    .banner-caption{
        position:absolute;
        width:100%;
        padding-left:6%;
        bottom:2%;
    }
    .caption-img {
        width:90%;
        max-width: 247px;
        margin-bottom: 2%;
    }
    .banner-caption p{
        font-size: 1.1rem;
        max-width: 650px;
        margin-bottom: 2%;
    }
    .banner-btn{
        display: flex;
        gap:10px;
    }
    .banner-btn .btn img{
        width:25px;
    }
    .banner-btn .btn {
        border: 0;
        outline: 0;
        padding:8px 2px;
        display: inline-flex;
        align-items: center;
        gap:10px;
        font-size: 15px;
        font-weight: 700;
        background:rgb(255, 255, 255);
        border-radius: 4px;
        cursor: pointer;
        width:18%;
        height:4%;
    }
    
    #dark{
        color: #fff;
        background-color: #6d6d6eb3;
    }
    .btn :hover{
        background-color:#6d6d6e66;
    }
    #dark:hover{
        background-color: #6d6d6e66;
    }
    .More{
        padding-left:6%;
    }
    .Sidebar{
        display: none;
    }
    .LandingPage .Footer1{
        max-width: 100%;
        margin:0 auto;
    }
    .LandingPage .Footer1 h1{
        font-size: 1.3em;
    }
    .LandingPage .Footer1 .footer-links{
        font-size: 1rem;
        gap:15px;
        grid-template-columns: auto auto auto;
    }
}
@media  screen and (max-width:661px){
    .banner{
        position :relative;
        height: 50vh;
        width: 100vw;
        overflow: hidden;
    }
    .LandingPage{
        overflow-x: auto;
    }
    .LandingPage::-webkit-scrollbar{
        display: none;
    }
    
    .banner .banner-img{
        width:100%;
        height: 100%;
        object-fit: cover;
        mask-image: linear-gradient(to right,transparent,black 75%);
        -weblit-mask-image:linear-gradient(to right,transparent,black 75%);
    }
    .banner-caption{
        position:absolute;
        width:100%;
        padding-left:6%;
        bottom:4%;
    }
    .caption-img {
        width:90%;
        max-width: 190px;
        margin-bottom: 2%;
    }
    .banner-caption p{
        font-size: 0.9rem;
        max-width: 437px;
        margin-bottom: 2%;
    }
    .banner-btn{
        display: flex;
        gap:10px;
    }
    .banner-btn .btn img{
        width:25px;
    }
    .banner-btn .btn {
        border: 0;
        outline: 0;
        padding:8px 4px;
        display: inline-flex;
        align-items: center;
        gap:10px;
        font-size: 15px;
        font-weight: 700;
        background:rgb(255, 255, 255);
        border-radius: 4px;
        cursor: pointer;
        width:25%;
        height:4%;
    }
    
    #dark{
        color: #fff;
        background-color: #6d6d6eb3;
    }
    .btn :hover{
        background-color:#6d6d6e66;
    }
    #dark:hover{
        background-color: #6d6d6e66;
    }
    .More{
        padding-left:6%;
    }
    .Sidebar{
        display: none;
    }
    .LandingPage .Footer1{
        margin:0px;
    }
    .LandingPage .Footer1 h1{
        font-size: 1.3em;
    }
    .LandingPage .Footer1 .footer-links{
        font-size: 1rem;
        gap:15px;
        grid-template-columns: auto auto auto;
    }
    .LandingPage .cards-list img{
        width: 180px;
    }
    .LandingPage .card p{
        font-size: 0.8rem;
    }
}